DEBUG=True
SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,backend,192.168.100.15
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,http://192.168.100.15:8000

POSTGRES_DB=crm_ceo
POSTGRES_USER=crm_ceo
POSTGRES_PASSWORD=crm_ceo_dev
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
TIME_ZONE=America/Guayaquil

# Usuario gerente inicial. Se crea solo si AUTO_BOOTSTRAP_MANAGER=true.
AUTO_BOOTSTRAP_MANAGER=true
INITIAL_MANAGER_EMAIL=admin@local.test
INITIAL_MANAGER_PASSWORD=Admin12345!
INITIAL_MANAGER_FIRST_NAME=Gerencia
INITIAL_MANAGER_LAST_NAME=Global

PROJECT_NAME=CRM CEO Interno
